* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    position:relative;
    display: block;
}

.top{
    display: inline-block;
    position: fixed;
}

.left {
    top:0;
    left:0;
    margin-top: 10px; 
    margin-left:10px;
}

.left a {
    display: inline-block;
    margin-left:20px;
}

.right {
    top:0;
    right:0;
    line-height: 30px;
    margin-top: 10px;
    margin-right: 10px;
}

.right a {
    display:inline-block;
    margin-right:20px;
}
 
#waffle {
    margin-right:5px; 
}


#sign_in {
    margin-right:0;
    margin-left:0;
}

.small_link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #57606f;
    text-decoration: none;
}
.small_link:hover {
    text-decoration: underline;
}
#country:hover {
    text-decoration: none;
}

.right img {
    height: 25px;
    vertical-align: middle;
    opacity: 0.5; 
}

.right img:hover {
    opacity: 1;
}

#sign_in button {
    cursor: pointer;
    background-color: #4285F4;
    color: #FFFFFF;
    font-weight: bold;
    height:26px;
    padding: 0 5px;
    border: 2px solid #4285F4;
    vertical-align: middle;

}

#sign_in button:hover {
    background-color: #FFFFFF;
    color: #4285F4;
}


/* ------------SECTION-------------- */

section {
    /* background-color: bisque; */
    width : 45vw;
    height: auto;
    position: relative;
    top: 22vh;
    left: 50vw;
    transform: translateX(-50%);
}

#google_logo {
    text-align: center;
}

#search_box {
    position: relative; 
    margin: 15px auto;
    text-align: center;
}

#search_input {
    width: 510px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ced6e0;
    outline:none;
    padding-left: 40px;
    font-size: 18px;
}

#search_input:hover {
    box-shadow:2px 2px 3px #ced6e0, -2px -2px 3px #ced6e0;
}

#magnify  {
    position: absolute;
    top:31%;
    left: 8%;
    opacity: 0.7;
}

#microphone {
    position: absolute;
    height: 20px;
    top:30%;
    right: 9%; 
}

#sub_buttons {
    margin-top: 30px;
    text-align: center;
}

#sub_buttons button {
    box-sizing: content-box;
    width: 106px;
    height: 36px;
    background-color: #f2f2f2;
    color: #5f6368;
    font-size: 14px;
    text-align: center;
    border: 0.1px solid #f2f2f2;
    border-radius: 4px;
    padding: 2px 8px;
    cursor: pointer;
}

#sub_buttons #lucky {
    width: 150px;
    margin-left: 20px;
}

#sub_buttons button:hover {

    border-color:  #ced6e0;
    color: #2d3436;
    box-shadow: 1px 1px 3px #ced6e0;
}

#sub_buttons button:active {
    border-color: dodgerblue;
}

#explanation {
    text-align: center;
    margin-top: 30px;
    color: #636e72;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;;
}


/* ------------FOOTER-------------- */

footer {
    position:fixed;
    bottom:0;
    left:0;
    height: auto;
    width: 100vw;
    background-color: gold;
}